@import "../../scss/variables";
.button {
  background: white;
  border: none;
  border-radius: 1px;
  color: $gray-dark;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  text-decoration: none;
  line-height: 36px;
  padding: 0 2rem;
  vertical-align: middle;
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1rem;
}

.button-link {
  background: none;
  border:none;
  color: $gray;
  box-shadow: none;

}
.button-link.button-primary { color: $brand-primary; }
.button-link.button-secondary { color: $brand-secondary; }
.button-link.button-tertiary { color: $brand-tertiary; }
.button-link.button-success { color: $brand-success; }
.button-link.button-info { color: $brand-info; }
.button-link.button-warning { color: $brand-warning; }
.button-link.button-danger { color: $brand-danger }

.button-primary {
  background-color: $brand-primary ;
  color: white;
}
.button-secondary {
  background-color: $brand-secondary ;
  color: white;
}
.button-tertiary {
  background-color: $brand-tertiary ;
  color: white;
}
.button-success {
  background-color: $brand-success ;
  color: white;
}
.button-info {
  background-color: $brand-info ;
  color: white;
}
.button-warning {
  background-color: $brand-warning ;
  color: white;
}
.button-danger {
  background-color: $brand-danger ;
  color: white;
}
.button-block {
  display:block;
  width: 100%;
}

.button-large {
  height: 60px;
  line-height: 52px;
  font-size: 1.3rem;
}

.button-disabled {
  background-color: $brand-inactive ;
  color: white;
}
