
.fancy-input {
  border-bottom: 1px solid $gray-light;
}
.fancy-input-input {
  color: $body-color;
  border: none;
  background:none;
  display: block;
  padding: 5px 0;
  width:100%;
  &:focus {
    outline:none;
    color: $gray;
  }
}

.fancy-input-label {
  display: block;
  text-transform: uppercase;
  color: $gray-light;
  font-size: $font-size-sm;
}
