@import "bootstrap/variables";

.text-white {color: white; }
.text-primary {color: $brand-primary;}
.text-secondary {color: $brand-secondary;}
.text-tertiary {color: $brand-tertiary;}
.text-success {color: $brand-success;}
.text-danger {color: $brand-danger;}

.title-lg { font-size: $font-size-h2; }
.title-base { font-size: $font-size-h3; }
.title-sm { font-size: $font-size-h4; }
.title-xs { font-size: $font-size-h5; }

.text-base{ font-size: $font-size-base; }
.text-lg{ font-size: $font-size-lg; }
.text-sm{ font-size: $font-size-sm; }
.text-xs{ font-size: $font-size-xs; }

.text-lg{ font-size: $font-size-lg; }
.text-sm{ font-size: $font-size-sm; }
.text-xs{ font-size: $font-size-xs; }

.text-h1 {font-size: $font-size-h1;}
.text-h2 {font-size: $font-size-h2;}
.text-h3 {font-size: $font-size-h3;}
.text-h4 {font-size: $font-size-h4;}
.text-h5 {font-size: $font-size-h5;}
.text-h6 {font-size: $font-size-h6;}

.text-caps { text-transform: uppercase; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.page-title {
  display: block;
  padding-top: $padding-base;
  padding-bottom: $padding-base;
}
