.slider {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;
}
.slide {
  width: 100%;
  height:100%;
  vertical-align: top;
  white-space: normal;
  display: inline-block;
}

.slider-content {
  height:100%;
  position:relative;
  transition: left 400ms;
  white-space: nowrap;
  vertical-align: top;
  overflow:visible;
}
