@import "../../scss/variables";
.text-input {
  margin-bottom: $margin-base;
}
.text-input input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $gray-light;
  border-radius: 0;
  outline: none;
  height: 2.8rem;
  width: 100%;
  font-size: 1.2rem;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: normal;
  &:focus {
    border-bottom: 1px solid $gray-lighter;
  }
}

.text-input-lg input {
  font-size: 2.2rem;
  height: 3.2rem;
}

.text-input-white input { color: white; }

.text-input label {
  color: $brand-success;
  display: block;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
