@import "../../scss/variables";
.layout {
  position:relative;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}
.layout-scroll {
  overflow-y: auto;
}
.layout-grow-1 { flex-grow: 1}
.layout-grow-2 { flex-grow: 2}
.layout-grow-3 { flex-grow: 3}
.layout-grow-4 { flex-grow: 4}

.layout-shrink-1 { flex-shrink: 1}
.layout-shrink-2 { flex-shrink: 2}
.layout-shrink-3 { flex-shrink: 3}
.layout-shrink-4 { flex-shrink: 4}


.layout-row { flex-direction: row;}
.layout-column {
  flex-direction: column;
}

.layout-top { align-items: flex-start;}
.layout-middle { align-items: center;}
.layout-bottom { align-items: flex-end;}

.layout-left { justify-content: flex-start;}
.layout-center { justify-content: center;}
.layout-space-between { justify-content: space-between;}
.layout-space-around { justify-content: space-around;}
.layout-right { justify-content: flex-end;}
.layout-primary {background-color: $brand-primary; }
