
$gray-dark: #373a3c !default;
$gray: #55595c !default;
$gray-light: #818a91 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;

$brand-primary: #173236;
$brand-secondary: #F47627;
$brand-success: #77B144 !default;
$brand-info: #FBC43A !default;
$brand-warning: #FBC43A !default;
$brand-danger: #F47627 !default;
$brand-inverse: $gray-dark !default;
$brand-inactive: #55595c !default;

$padding-base: 25px;
$margin-base: 5px;
